{% extends 'BlogTemplate/index.html.html' %}
{% load static %}
{% block content %}
    {% for article in articles %}

        <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url({% static 'BlogTemplate/images/image_3.jpg' %});"></a>
            <div class="text">
                <h3 class="heading"><a href="#">{{article}}</a>
                </h3>
                <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> {{article.created_date}}</a></div>
                    <div><a href="#"><span class="icon-person"></span> {{article.user.username}}</a></div>
                    <div><a href="#"><span class="icon-chat"></span> {{ article.get_comment_count }}</a></div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}