{% extends 'base.html' %}
{% block title %}
        Details
    {% endblock %}
{% block content %}


    {% for post in article %}
        <a class="btn btn-success btn-sm " href="{% url 'articleupdate' post.slug %}"> Güncelle</a>
                <a class="btn btn-danger btn-sm " href="{% url 'articledelete' post.slug %}"> Sil</a>
        <span style="margin-right: 3%"><h2 sty><a href="{% url 'articles' %}"><span class="glyphicon glyphicon-circle-arrow-left pull-left" ></span></a><span style="margin-left: 20px" href="">{{ post.name|upper }}</span> </h2></span>
        <br>
        <br>
    {% if post.get_image %}
            <div >
                <img  align="center" style="height: 450px;width: 100% " class="img-responsive" src="{{ post.get_image }}">
            </div>
        {% endif %}
        <br>
        <br>
        <br>
    <p style="font-size: 16px">{{ post.icerik }}</p>
    <hr>
        <br>


    {% endfor %}
{% endblock %}